*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.NavBar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.banner{
  height: 100vh;
  background: url(firstbanner.jpg) center /cover;

}
.addBar{
  padding: 2rem;
}
.menu{
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  list-style: none;

}
.menu li a{
  text-decoration: none;
  padding: 0.5rem;
}