*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AddBar {
  padding: 1.5rem;
  color: white;
}
.Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: white;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: bisque;
  font-size: 25px;
  flex-direction: column;
}
.title a{
  text-decoration: none;
  padding: 25px 35px;
  border: 1px solid;
  color: bisque;
  transition: all 0.5s ease-in-out;
}
.title a:hover{
  color: black;
  background-color: white;
  border: 1px solid white;

}
body {
  font-family: fangsong;
}
.Nav a{
  color: white;
}
/* .Nav h1{
  color: white;
} */
.menu{
  display: flex;
  list-style-type: none;
}
.menu a{
  text-decoration: none;
  /* color: white; */
  padding: .5rem;
}